.pageLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* opacity: .5; */
    width: 100%;
    height: 100%;
}

.busy{
    opacity: 0.5;
    pointer-events: none;
}