.opacity_0_5 {
  opacity: 0.5;
}

.shoesCart {
  float: left;
  width: 298px;
  height: 345px;
  border: 2px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 15px;
  margin-left: 23px;
  margin-top: 25px;



  img {
    width: 232px;
    height: 182px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .cardLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    max-width: inherit;
    min-height: inherit;
    position: absolute;

  }

  .cartContent {
    width: 250px;
    height: 126px;
    margin: 0 auto;

    .detail {
      width: 250px;
      height: 66px;

      .title {
        width: 250px;
        height: 37px;

        p {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #575757;
          margin: 0 auto;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        h4 {
          margin-bottom: 0;
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #151515;
          font-weight: bold;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .order {
      float: left;
      margin-top: 10px;
      width: 260px;
      height: 44px;


      //.buttons {
      //  text-align: center;
      //  float: right;
      //  height: 36px;
      //
      //}

      h2 {
        font-family: Red Hat Display;
        font-style: normal;
        color: #151515;
        margin: 0px;
        float: left;
      }

      h3 {
        font-family: Red Hat Display;
        font-style: normal;
        color: #151515;
        width: 25px;
        display: inline-block;
        margin: 0;
      }

      //.addButtonAdd, .addButtonRemove {
      //  float: initial;
      //  width: 36px;
      //  height: 36px;
      //  box-sizing: border-box;
      //  border-radius: 12px;
      //  font-family: Roboto;
      //  font-style: normal;
      //  font-weight: bold;
      //  font-size: 15px;
      //  line-height: 18px;
      //  cursor: pointer;
      //}

      //.addButtonAdd {
      //  background: rgba(91, 236, 88, 0.3);
      //  //border: 2px solid #62bb70;
      //  border: 2px solid rgba(91, 236, 88, 0.3);
      //  color: #197210;
      //}
      //
      //.addButtonRemove {
      //  background: rgba(236, 81, 81, 0.3);
      //  //border: 2px solid #c03b3b;
      //  border: 2px solid rgba(236, 81, 81, 0.3);
      //  color: #70010d;
      //}

      .createButton {
        float: right;
        width: 101px;
        height: 36px;
        right: 8px;
        bottom: 1px;

        background: #EBF2FF;
        border: 2px solid #EBF2FF;
        box-sizing: border-box;
        border-radius: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #2264D1;
        cursor: pointer;
      }
    }
  }

}
