.container_center_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.wrapper {
  //align-items: center;
  background-color: #edeef0;
  padding: 16px 0;
}










